.nav-container {
    width: 800px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  .logo-container {
    color: #7b64ff;
  }
  
  .options-container {
    width: 400px;
  }
  
  .options > a {
    width: 40px;
    height: 60px;
    margin-right: 30px;
    font-weight: 500;
    color: #7b64ff;
    text-decoration: none;
    text-align: center;
  }
  
  .options > a:hover {
    color: #535bf2;
    text-decoration: underline;
  }
  